---
import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import { marketingConfig } from "../../config/marketing"
---

<BaseLayout pageTitle="404 Not Found">
  <section class="px-4 sm:px-8 max-w-6xl mx-auto py-8">
    <h2 class="text-center text-2xl font-bold mb-4">404 Not found</h2>
    <p class="text-center text-gray-600">
      The page you were looking for doesn't exist or may have moved.
    </p>
    <div class="text-center mt-6">
      <a
        href={marketingConfig.pageInfo.home.href}
        class="inline-block px-6 py-3 bg-white text-black rounded-lg hover:text-blue-500 transition"
      >
        Go back to the Home screen.
      </a>
    </div>
  </section>
</BaseLayout>
