---
import { siteConfig } from "../../config/site"
---

<section class="py-20 bg-neutral-900 text-white">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-bold mb-6">Let's Work Together</h2>
      <p class="text-neutral-300 mb-8 max-w-xl mx-auto">
        Got a project in mind? Feel free to get in touch!
      </p>

      <div class="flex flex-col items-center">
        <div class="flex space-x-4 mb-4">
          <a
            href={siteConfig.links.github}
            aria-label="GitHub"
            class="text-neutral-400 hover:text-white transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
              ></path>
            </svg>
          </a>
          <a
            href={siteConfig.links.x}
            aria-label="zenn"
            class="text-neutral-400 hover:text-white transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 256 256"
              fill="currentColor"
            >
              <path
                d="m213.06 212.78l-63.42-99.66L212.44 44a6 6 0 1 0-8.88-8L143 102.62l-41.9-65.84A6 6 0 0 0 96 34H48a6 6 0 0 0-5.06 9.22l63.42 99.66L43.56 212a6 6 0 0 0 8.88 8L113 153.38l41.9 65.84A6 6 0 0 0 160 222h48a6 6 0 0 0 5.06-9.22M163.29 210L58.93 46h33.78l104.36 164Z"
              ></path></svg
            >
          </a>
          <a
            href={siteConfig.links.zenn}
            aria-label="LinkedIn"
            class="text-neutral-400 hover:text-white transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M.264 23.771h4.984a.807.807 0 0 0 .645-.352L19.614.874c.176-.293-.029-.645-.381-.645h-4.72a.627.627 0 0 0-.557.323L.03 23.361c-.088.176.029.41.234.41zm17.181-.352l6.479-10.408a.477.477 0 0 0-.41-.733h-4.691a.517.517 0 0 0-.44.235l-6.655 10.643c-.176.264.029.616.352.616h4.779a.648.648 0 0 0 .586-.353z"
              ></path></svg
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
