---
import { siteConfig } from "../config/site"
---

<header class="py-2 fixed top-0 w-full bg-white shadow-md">
  <nav class="max-w-5xl mx-auto flex items-center justify-between h-16 px-4">
    <div class="flex items-center gap-6 w-full">
      <a
        href="/"
        class="text-2xl font-extrabold flex-shrink-0 tracking-tight text-gray-900 hover:text-blue-500"
      >
        {siteConfig.name}
      </a>
    </div>
  </nav>
</header>
