---
import { marketingConfig } from "../../config/marketing"
---

<div class="nav-links">
  <a href={marketingConfig.pageInfo.home.href}>Home</a>
  <a href={marketingConfig.pageInfo.projects.href}>Projects</a>
  <a href={marketingConfig.pageInfo.articles.href}>Articles</a>
</div>
