---
import "../../styles/global.css"
import BaseLayout from "../../layouts/BaseLayout.astro"
import { marketingConfig } from "../../../config/marketing"
---

<BaseLayout pageTitle={marketingConfig.pageInfo.projects.title}>
  <section>
    <h2>coming soon.</h2>
  </section>
</BaseLayout>
