---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css"
import { siteConfig } from "../../config/site"
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer"
import ErrorHeader from "../components/ErrorHeader.astro"
const { pageTitle } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap"
    />
    <title>{pageTitle} | {siteConfig.name}</title>
  </head>
  <body>
    <ErrorHeader />
    <main class="container pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
d
