---
import ErrorHeader from "../components/ErrorHeader.astro"
import Footer from "../components/Footer.astro"
import { siteConfig } from "../config/site"
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer"
const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="sa2shi.dev" />

    <!-- Android & PWA Icons -->
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap"
    />
    <title>{pageTitle} | {siteConfig.name}</title>
  </head>
  <body>
    <ErrorHeader />
    <main class="container pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
d
